.NavButton {
  display: flex;
  /* padding: 0 16px; */
  width: 80px;
  height: 64px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  border-radius: 16px;
}

.NavButton:hover {
  background-color: rgba(0, 0, 0, 0.025);
}

.Label {
  font-size: 12px;
  overflow: hidden;
  text-align: center;
  width: 64px;
  margin-top: 8px;
  text-overflow: ellipsis;
}
