.Header {
  background-color: #ffffff;
  border-radius: 0 0 24px 24px;
  display: flex;
  box-shadow: 0 0px 24px rgb(0 0 0 / 2%);
  margin-bottom: 32px;
}

.Container {
  max-width: 1280px;
  margin: auto;
  width: 100%;
  display: flex;
  padding: 32px;
  align-items: center;
  justify-content: space-between;
}
